<footer>
  <div class="row w-100">
      <div class="col-lg-5 offset-1 col-10">
          <h5>Acompanhe tudo</h5>
          <ul class="icons">
              <li class="fb"><a href="https://www.facebook.com/daniel.bandeira.33"><i class="fab fa-facebook-f"></i></a> </li>
              <li class="insta"><a href="https://www.instagram.com/danielbandeira_"><i class="fab fa-instagram"></i></a> </li>
              <li class="in"><a href="https://www.linkedin.com/in/daniel-b-41178b10a/"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="git"><a href="https://github.com/danielbandeir"><i class="fab fa-github"></i></a></li>
          </ul>
      </div>

      <div class="col-lg-6 col-12">
              <table>
                      <tr>
                        <th> <a routerLink="/sobre" routerLinkActice="active">Sobre mim</a> </th>
                      </tr>
                      <tr>
                        <td>Olá</td>
                      </tr>
                      <tr><td>Inspirações</td></tr>
                      <tr><td>História</td></tr>
                      <tr><td>Skills</td></tr>

              </table>
              <table>
                      <tr>
                        <th> <a routerLink="/projetos" routerLinkActice="active">Projetos</a> </th>
                      </tr>
                      <tr>
                        <td>Sites</td>
                      </tr>
                      <tr><td>Aplicações</td></tr>
                      <tr><td>Projetos</td></tr>
                      <tr><td>Design</td></tr>

              </table>
              <table>
                      <tr>
                        <th> <a routerLink="/blog" routerLinkActice="active">Blog</a> </th>
                      </tr>
                      <tr><td>Desenvolvimento</td></tr>
                      <tr>
                        <td>Livros</td>
                      </tr>
                      <tr><td>Cursos</td></tr>

              </table>
              <table>
                      <tr>
                        <th> <a routerLink="/contato" routerLinkActice="active">Contato</a> </th>
                      </tr>
                      <tr><td>Fale Comigo</td></tr>
                      <tr>
                        <td>Notícias</td>
                      </tr>

              </table>
      </div>
  </div>
  <div class="copy">
      <div class="row w-100">
          <div class="col-lg-11 text-center">Copyright &copy; 2018 Daniel Bandeira. Todos os direitos reservados</div>
      </div>
  </div>
</footer>
