
<button id="openMenu">
  <div class="hamburguer"></div>
  <div class="hamburguer2"></div>
  <div class="hamburguer3"></div>
</button>

<div class='menu menuWidth'>

      <ul class="container">
         <li> <a routerLink="/" routerLinkActive="active">Início</a></li>
          <li><a routerLink='/sobre' routerLinkActive="active" class="linkChanges">Sobre Mim</a></li>
          <div class="line"></div>
          <li><a routerLink="/projetos" routerLinkActive="active" class="linkChanges">Projetos</a></li>
          <li class="blogClass"><a routerLink="/blog" routerLinkActive="active" class="linkChanges">Blog</a></li>
          <li><a routerLink='/contato' routerLinkActive="active" class="linkChanges">Contato</a></li>
      </ul>
</div>