<div class="container allFormSend">
    <div class="row">
      <form [formGroup]="addProject" (ngSubmit)="addItem()">
          <div class="form-group">
              <label for="username">Nome do Projeto:</label>
              <input type="text" formControlName="nome"class="form-control" >
          </div>
          <div class="form-group">
              <label for="username">linguagem:</label>
              <input type="text" formControlName="linguagem" placeholder="linguagem" name="linguagem" class="form-control" id="linguagem">
          </div>
          <div class="form-group">
              <label for="username">url:</label>
              <input type="text" formControlName="url" name="url" class="form-control" id="url">
          </div>
          <div class="form-group">
              <label for="username">sobre post:</label>
              <input type="textarea" formControlName="sobre" name="sobre" class="form-control" id="sobre">
          </div>
          <div class="form-group">
              <label for="username">Objetivo</label>
              <input type="textarea" formControlName="objetivo" class="form-control">
          </div>
          <div class="form-group">
              <label for="username">Desafio</label>
              <input type="textarea" formControlName="desafio" class="form-control" >
          </div>
          <div class="form-group">
              <label for="username">Foto1</label>
              <input type="text" formControlName="foto1" class="form-control">
          </div>
          <div class="form-group">
              <label for="username">Foto2</label>
              <input type="text" formControlName="foto2"class="form-control">
          </div>
          <div class="form-group">
              <label for="username">Foto3</label>
              <input type="text" formControlName="foto3"class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success" value="Postar">
          </div>
      </form>
    </div>
  </div>